
.searchResultsContainer {
    display: grid;
    /* flex-direction: column; */
    /* margin-top: 2rem; */
    grid-template-columns: 3fr 1fr .95fr .95fr .8fr;
    /* grid-template-rows: 1fr; */
    /* grid-gap: 3rem;
    column-gap: 3rem; */
    /* width: 100%; */
    height: 100%;
    /* height:  */
    margin-left: 3rem;
    margin-right: 3rem;
    /* margin-top: 2rem; */
    padding-bottom: .4rem;
    padding-top: .4rem;
    /* // add line to top and bottom */
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    max-width: 41rem;    

    /* margin-left: 1rem;
    margin-right: 1rem; */

    margin-left: auto;
    margin-right: auto;
}

.searchResultsContainerMargin{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
}

.result {
    /* grid-column: 1 / 3; */
    /* display: flex; */
    /* flex-direction: row; */
    /* flex: 1; */
    /* justify-content: flex-start; */
    /* text-align: left; */
    /* margin-bottom: .4rem; */
    /* width: 100% */
}

.authorCol {
    padding-left: .3rem;
}

.authorCol a {
    color: inherit;
    text-decoration: none;
}

a {
    /* background-color: rgba(30, 30, 130, .1); */
    /* color: #1e2e8e; */
    color: inherit;
    text-decoration: none;
}

.resultItem {
    overflow: hidden;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: left;
    height: 3rem;
    line-height: 1.51rem;
    padding: .4rem;
    padding-left: .4rem;
    padding-right: .4rem;
}

.odd {
    /* background-color: #c0baba; */
    color: #000000;
}

.even {
    background-color: #e8d7d7;
    color: #000000;
}

.columnHeader {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.citationCount {
    cursor: pointer;
}

.referenceCount {
    cursor: pointer;
}

.titleContainer {
    height: 2.5rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: row;
    margin-top: 1.1rem;
    margin-bottom: .8rem;
    font-weight: 700;
    /* color: rgb(47, 20, 38); */
    /* background: #808080; */
    /* color: white; */
    /* padding: 1rem; */
    /* margin: .5rem; */
    /* padding-top: 1rem; */
    /* padding-bottom: -.2rem; */
    /* margin-bottom: -.2rem; */
    
    text-align: left;
    /* border-radius: .7rem; */
    
}

.titleContainer .left {
    flex: 1;
    text-align: left;
    padding-left: .6rem;
    font-size: 1.4rem;
    /* margin-top: -.3rem; */
    /* padding-top: 0rem; */
    
}

.titleContainer .flexFiller {
    flex: 1;
}
.titleContainer .filler {
    min-width: 1rem;
    width: 1rem;
}

.titleContainer .right {
    flex: 2;
    text-align: right;
    padding-right: .6rem;
    
    /* height: 1.8rem; */
    overflow: hidden;

    
}

.header {
    /* border-radius: 0.7rem; */
    padding: 1.6rem;
    padding-top: 1.3rem;
    padding-bottom: 2rem;
    margin-top: 0rem;

    max-width: 43rem;
    margin-left: auto;
    margin-right: auto;
}