.searchBarInput {
    flex: 1;
    padding-left: .6rem;
    font-size: 1.1rem;
    background-color: #e8d7d7;
    color: #000000;
    border: 0px solid #c59393;
    border-radius: .2rem;
    outline: none;
}

.searchBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: hidden;
    margin-left: .3rem;
    margin-right: .3rem;
    
}

.searchButton {
    background-color: #e6cbc5;
    color: #000000;
    border: none;
    /* border: .04rem solid #ac8686; */
    box-sizing: border-box;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    border-radius: 4px;
    margin-left: .3rem;
    max-width: 100%;

}